.payment-methods {
    /* border: 2px red solid; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5% 0%;
}

.upi, .bank {
    /* border: 2px green solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 28%;
    padding: 2% 6%;
    text-align: center;
    background-color:whitesmoke;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 500px;
}

.upi > h3, .bank>h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15%;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-underline-offset: 10px;
}

.upi > p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 5% 0%;
}

.bank>p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 5% 0%;
    line-height: 1.6;
}

.upi > img, .bank>img {
    width: 150px;
}

.razorpay-icon {
    background-color: rgb(195, 225, 252);
    padding: 15px 20px;
    border-radius: 5px;
}

.razor-btn{
    text-align: center;
    color: white;
    border-radius: 50px;
    border: 2.5px orangered solid;
    background-color: orangered;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 22px;
    margin: 3% 0%;
}


/* css for modal or Pop up */
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    border: 2.5px orangered solid;
    background-color: orangered;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 5% 10%;
    margin: 3% 0%;
}

.btn-modal:hover {
    background-color: black;
    border-color: black;
    transition: 0.3s ease-in-out;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.3);
}
.modal-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: aliceblue;
    padding: 1% 2%;
    border-radius: 20px;
    max-width: 600px;
    min-width: 300px;
    z-index: 995;
}
.modal-content > img {
    width: 65%;
    border-radius: 20px;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border: none;
    border-radius: 20px;
    background-color: black;
}
  
