.event {
  display: flex;
}

.event .my-carousel {
  /* flex: 1; */
  width: 40vw;
  min-width: 600px;
  margin: 1rem;
}

.event .content {
  flex: 1;
  padding: 1rem;
}

@media screen and (max-width: 1200px) {
  .event {
    flex-direction: column;
  }

  .event .my-carousel {
    width: 100%;
    min-width: 0;
    margin: 0;
  }
}