.hero {
  width: 100vw;
}

.AboutUs > h1,
.OurWork > h1,
.Achievements > h1,
.testimonials > h1,
.JoinUs > h1,
.achievements > h1 {
  margin-bottom: 3%;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 400;
  padding: 3px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  color: rgb(255, 102, 0);
  text-decoration-color: black;
  text-underline-offset: 0.3em;
  max-width: 80%;
  /* border: 2px red solid; */
  text-align: center;
}

.AboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  /* height: 100vh; */
}

.AboutUs-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutUs-p {
  margin: 0% 7%;
  width: 30%;
  text-align: justify;
  font-weight: 300;
}

.AboutUs-img {
  width: 80%;
  border-radius: 8px;
  display: none;
}

.about-img {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  height: 600px;
  gap: 20px;
}

.about-img-1,
.about-img-2,
.about-img-3 {
  width: 250px;
  border-radius: 10px;
}
.about-img-2 {
  /* padding-top: 80px; */
  border-radius: 10px;
}

.about-img-c2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  justify-content: space-evenly;
}

.OurWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.OurWork-Content {
  display: flex;
  gap: 2%;
  justify-content: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.testimonial-carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;
  margin-top: 1%;
  max-width: 100%;
  max-height: 100%;
}

.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 8%;
  /* border: 2px red solid; */
}

.achievements-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78%;
  margin-top: 2%;
  /* border: 2px black solid; */
}

.achievement-text {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  /* border: 2px blue solid; */
}

.achievement-text > h2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(40, 40, 40);
  font-weight: 600;
  font-size: 250%;
  line-height: 1.4;
}

.achievement-underline {
  width: 100px;
  height: 5px;
  border-radius: 50px;
  margin-top: 3%;
  margin-bottom: 5%;
  background-color: orangered;
}

.achievement-text > p {
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
  font-weight: 300;
  margin-top: 3%;
  /* text-align: justify; */
}

.achievement-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 50px;
}

.achievement-icons {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.children-helped,
.volunteer,
.lives-affected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.children-helped > h3,
.volunteer > h3,
.lives-affected > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin: 8% 0%;
}

.children-helped > p,
.volunteer > p,
.lives-affected > p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.children-helped-icon,
.volunteer-icon,
.lives-affected-icon {
  height: 65px;
}

.achievement-rdm-btn {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  padding: 2.5% 5%;
  border-radius: 30px;
  border: 1.8px rgb(255, 102, 0) solid;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

.achievement-rdm-btn:hover {
  color: white;
  background-color: orangered;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1100px) {
  .OurWork-Content {
    /* flex-direction: column; */
    flex-flow: row wrap;
    align-items: center;
    width: 78%;
    margin-left: 11%;
    /* border: 2px red solid; */
  }

  .achievements-content {
    width: 100%;
    flex-direction: column;
  }

  .achievement-text {
    width: 80%;
    margin-bottom: 5%;
  }

  .achievement-text > p {
    text-align: justify;
  }

  .achievement-stats {
    margin: 3% 0%;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .about-img {
    display: none;
  }

  .AboutUs-img {
    display: flex;
    width: 78%;
    margin-bottom: 5%;
    margin-left: 11%;
    /* border: 2px red solid; */
  }

  .AboutUs-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* margin-left: auto; */
    /* border: 2px green solid; */
  }

  .AboutUs-p {
    width: 78%;
    /* border: 2px blue solid; */
  }
}

@media screen and (max-width: 500px) {
  .achievement-icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .children-helped,
  .volunteer,
  .lives-affected {
    width: 78%;
    background-color: aliceblue;
    padding: 5% 0%;
    border-radius: 20px;
  }

  .children-helped-icon,
  .volunteer-icon,
  .lives-affected-icon {
    height: 120px;
  }

  .children-helped > h3,
  .volunteer > h3,
  .lives-affected > h3 {
    font-size: 80px;
    font-weight: 400;
  }

  .children-helped > p,
  .volunteer > p,
  .lives-affected > p {
    font-size: 20px;
    font-weight: 400;
  }

  .achievement-rdm-btn {
    font-size: 25px;
    font-weight: 500;
    border-width: 3px;
  }
}

.dot {
  color: white;
  font-size: 80%;
  margin-top: -80px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.slick-dots .slick-active .dot {
  transition: 0.5s ease-in-out;
  color: orangered;
  border: 1px orangered solid;
}
