.main{
    overflow:scroll;
}
/*would like to improvise the scrollbar ...?? */
::-webkit-scrollbar {
    width: 15px;
    }
    ::-webkit-scrollbar-track {
    background: #f6f6f4;
    }
    ::-webkit-scrollbar-thumb {
    background: #86af49;
    } 
    ::-webkit-scrollbar-thumb:hover {
    Background: #E5cdbc
}
.carousel {
    width : 90%;
    margin-top : 2%;
    padding-bottom: 0%;
    margin-left: 10%;
}
.body1text{
    width:90%;
    font-size: 16px;
    padding: 0px 23px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}
/*padding : top-left-right-bottom*/
.body2{ 
    margin-left:20px ;
    background-color: aliceblue;
}
.subbutton{
    width : 95%;
    height : 50px;
    background-color: #FDCD6F; 
}
.button {
         /* Green */
    background-color: rgb(255,102,0);
    border-radius: 10px;
    border: 2px solid red;
    box-shadow: 0 9px #999;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: left;
    height: 35px;
    width: 170px;
    font-family: Algerian;
    font-size: 20px;
    margin-top: 7px;
    margin-left: 18px;   
}
.button:hover{
    background-color:black;
    color:white;
}
.location{
    width: 95%;
    height: 300px;
}
.text2{
    width: 90%;    
    font-size: 19px;
    padding : 15px 15px;
    font-family: "Montserrat", sans-serif;
    float:left;
    text-align: justify;
}

/* *********************************************** LAPTOP KE LIYE ****************************************************************/
@media only screen and (min-width: 1000px) {
    .body1 {
        width:100%;
        margin-left: 5px;
    }
    .carousel {
        width : 45%;
        float: right;
        padding-right: 0.5%;
        height: 400px;
    }
    .heading {
        font-size: 45px;
        font-family:edo;
        padding-left: 160px;
        padding-top: 20px;
        padding-bottom: 10px;
        text-shadow: 5px;
        text-decoration: underline;
        text-align: left;
    }
    .body1text{
        width:100%;
        font-size: 20px;
        padding: 0px 50px;
        text-align: justify;
        font-family: "Montserrat", sans-serif;
    }
     
    .subbutton{
        width : 100%;
        height : 50px;
        background-color: #FDCD6F; 
    }
    .button {
                 /* Green */
        background-color: rgb(255,102,0);
        border-radius: 10px;
        border: 2px solid red;
        box-shadow: 0 9px #999;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        float: left;
        height: 35px;
        width: 170px;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        margin-top: 7px;
        margin-left: 25px;   
    }
    .button:hover{
        background-color:black;
        color:white;
    }
    .text2{
        width: 40%;
        font-size: 25px;
        padding : 15px 30px;
        font-family: "Montserrat", sans-serif;
        text-align: justify;
        float:left;
    }
    .body2{ 
        margin-top: 20px;
        background-color:#E0FAFC;
        margin-left:20px;   
        height:400px;
    }
    .location{
        width: 50%;
        float:left;
        padding-top: 1.5%;
    }
    
}

/****************************************************************PROEJCTOR ************************************************/
@media only screen and (min-width: 2000px) {
    .body1 {
        width:100%;
        margin-left: 5px;
    }
    .carousel {
        width : 45%;
        float: right;
        padding-right: 0.5%;
    }
    .body1text{
        width:70%;
        font-size: 30px;
        padding: 0px 39px;
        margin-left: 30px;
        /*font-family:segoe script ;*/
        text-align: justify;
    }
    .img{
        width: 500px;
        height: 500px;
    }
    .text2{
        width: 40%;
        font-size: 35px;
        padding : 15px 30px;
        font-family:josefin sans std ;
        text-align: justify;
        float:left;
    }
    .location{
        width: 40%;
        float:left;
        margin-left: 4%;

    }
    .heading {
        font-size: 65px;
        font-family:edo;
        padding-left: 160px;
        padding-top: 20px;
        padding-bottom: 10px;
        text-shadow: 5px;
        text-decoration: underline;
        text-align: left;
    }
}
