.profile-heading {
    text-align: center;
    padding: 2rem 0rem;
}

.profile-container {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem 2rem;
}

.profile-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

.profile-items-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
}


.profile-item input {
    margin-right: 0px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}





.profile-btns {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
}


.profile-att-btn button, .profile-edit-btn button, .profile-get-att-btn button {
    background-color: black;
    border-radius: 50px;
    padding: 8px 20px;
    color: white;
    font-weight: 400;
    margin: 10px;
    width: 200px;
    font-size: 15px;
    text-decoration: none;
}

.profile-att-btn button:hover, .profile-edit-btn button:hover, .profile-get-att-btn button:hover {
    background-color: rgb(255, 102, 0);
    color: #000;
    font-weight: 600;
    border: solid #000;
    padding-top: 6px;
}

.profile-att-btn {
    margin-top: 30px;
}

.profile-get-att-btn {
    text-align: center;
}

/* .profile-get-att-btn a {
    text-decoration: none;
}

.profile-get-att-btn a:hover {
    color: #000;
} */

.profile-file-input-container {
    position: relative;
    overflow: hidden;
}
  
.profile-file-input {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    opacity: 0;
}

.profile-choose-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4caf50; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-selected-file {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.profile-choose-button:hover {
    background-color: #45a049; 
}


.profile-msg {
    text-align: center;
    font-size: 20px;
}

.profile-loading {
    text-align: center;
    font-size: 15px;
} 

@media screen and (max-width: 767px) {
    .profile-content {
        display: flex;
        flex-direction: column-reverse;
    }
}