.outreach-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 3%;
}

.outreach-content > img {
    width: 450px;
    border-radius: 10px;
}

.outreach-content > p {
    width: 40%;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
}

@media screen and (max-width: 500px) {
    .outreach-content {
       flex-direction: column;
       gap: 30px;
       padding-top: 8%;
       padding-bottom: 8%;
    }

    .outreach-content > img {
        width: 80%;
    }
    
    .outreach-content > p {
        width: 80%;
    }
}