.container{
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: rgb(255,102,0); 
    height: 20rem;
margin-bottom: 3rem;
margin-top: 3rem;
justify-content: center;
color:white;

}
.dContent
{
    flex-direction: column;
    padding: 2rem;
}
.dHeading
{
    padding-bottom: 2rem;
    text-align: center;
    /* text-wrap: wrap; */
}

.sButton
{
    padding-top: 5rem;
}

.payButton
{
    background-color : black;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    border-radius: 25rem;
    width:9rem;
}

@media only screen and (max-width: 600px)
{
 .container
 {
    flex-direction: column;
    
    padding-left: 2rem;
    padding-right: 2rem;
    height: 30rem;
    margin-bottom: 2rem;
 }
}
.dContent
{
    /* flex-direction: row; */
    padding: 0.5rem;

}
.dHeading
{
    padding-bottom: 1rem;
    /* text-wrap: wrap; */
}
.sButton
{
    padding-top: 2rem;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets go here */
    .container{
        height: 25rem;
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .dHeading{
        text-align: center;
    }
    .dPara
    {
        text-align: center;
    }
  }