
.site-footer{
  width: 100%;
  position: sticky;
  bottom: 0;
  background:#202124;
  color: #fff;
  padding: 30px 0 10px;
  line-height: 30px;

}

.footer-row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}


.footer-col ul{
      padding: 0;
}

.footer-col ul li{
  list-style: none;
}

.footer-col ul li a{
  text-decoration: none;
  color: #fff;
}

.social-icons .fa{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.site-footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
}
.copyright{
    text-align: center;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  display: flex;
  justify-content: center;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
  align-items: center;
  
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#0c0c0e
}
.social-icons a.instagram:hover
{
  background-color: palevioletred
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.youtube:hover
{
  background-color: red
}
.social-icons a.email:hover
{
  background-color: rgb(0, 70, 0)
}


@media (max-width: 767px) {
    .site-footer .footer-row {
      display: flex;
      flex-direction: column;
      font-size: 14px;
}

    .site-footer {
      position: unset;
    }


}
@media (min-width: 768px) and (max-width: 1024px) {
    .site-footer .footer-col,
    .site-footer {
      font-size: 14px;
    }
}
@media (orientation: landscape) and (max-height: 500px) {
    .site-footer {
      position: unset;
    }
}

