* {
  font-family: "Roboto", sans-serif;
}

/* root css variable */
:root {
  --dropdown-box-color: beige;
  --navbar-color: ;
  --mobile-navbar-color: bisque;
}

/* Navbar */
nav {
  color: "#000";
  background-color: var(--navbar-color);
}

.nav-div {
  position: fixed;
  width: 100%;
  z-index: 100;
  margin-top: 0px;
  /* background: transparent; */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 300;
}

/* Logo */
.navbar-logo {
  display: flex;
  z-index: 50;
  padding: 0.5rem;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 3em;
  margin-left: 3%;
}

.hamburger-menu {
  font-size: 1.875rem;
  line-height: 2.25rem;
  display: flex;
  align-items: center;
  margin-right: 5%;
}

/* Nav-Links */
.nav-links {
  display: none;
  gap: 1rem;
  align-items: center;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue";
  height: 1rem;
  list-style: none;
}

.nav-item {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding: 0.75rem 0.75rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 13px;
}

/* Navbar button */
.navbar-button {
  display: none;
}

.login-button {
  /* background-color: rgb(255, 102, 0); */
  background-color: black;
  border-radius: 50px;
  padding: 10px 22px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
}

/* Mobile Nav Links */
.mobile-nav-links {
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  width: 100%;
  background-color: white;
  transition-duration: 500ms;
  list-style: none;
}

.mobile-nav-item {
  display: inline-block;
  padding: 1.5rem 0.75rem;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

/* Mobile Navbar button */
.mobile-navbar-button {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

/* dropdown-links-section */
.dropdown {
  background-color: var(--dropdown-box-color);
  width: 45%;
}

/* nested-link-section */

/* nested-link */
.nested-link {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-align: left;
  cursor: pointer;
}

/* nested-link-heading */
.nested-link-heading {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.25rem;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

/* nested-link-icon-1 */
.nested-link-icon-1 {
  font-size: 1.25rem;
  line-height: 1rem;
  display: inline;
  transition: 0.5s ease-in-out;
}

/* nested-link-icon-2 */
.nested-link-icon-2 {
  font-size: 1rem;
  line-height: 1rem;
  display: none;
  transition: 0.5s ease-in-out;
}

.nested-link-heading span {
  margin-top: 0px;
}

/* sublink-section */
.sublink-section {
  position: absolute;
  top: 4.2rem;
  max-height: auto;
  width: auto;
}

/* sublinks */
.sublinks {
  display: grid;
  padding: 0.8rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-bottom: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;

}

/* sublink-heading */
.sublink-heading {
  line-height: 1rem;
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.hidden {
  display: none;
}

/* mobile-sublink-heading */
.mobile-sublink-heading {
  padding: 1.5rem 1.25rem 1.5rem 1.75rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

/* Group Hovering */

/* nested-link-hovering */
.parent-link:hover {
  .parent-link-icon {
    rotate: 180deg;
    /* margin-top: -0.5rem; */
    transition: 0.5s ease-in-out;
  }
}

.child-link {
  opacity: 0;
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s, transform 0.3s, max-height 0.5s;
  text-align: center;
}

@media (min-width: 1000px) {
  .parent-link:hover {
    .child-link {
      opacity: 1;
      max-height: auto; /* Adjust as needed */
      transform: scaleY(1);
    }
  }

  .child-link:hover {
    display: block;
  }

  .nested-link-heading {
    padding-right: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 13px;
  }

  .nested-link-icon-1 {
    display: none;
  }

  .nested-link-icon-2 {
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    display: block;
  }

  .medium_hidden {
    display: none;
  }

  .mobile-sublink-heading {
    padding-right: 0px;
  }
}

@media (min-width: 1000px) {
  .navbar-logo {
    width: auto;
  }

  .logo {
    cursor: pointer;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .navbar-button {
    display: block;
  }

  .mobile-nav-links {
    display: none;
  }

  /* blur effect */
  .nav-div {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 1000px) {
  /* blur effect */
  .navbar-logo {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
