.StickyDonateButton {
    position: fixed;
    color: white;
    background-color: orangered;
    font-family: "Montserrat", sans-serif;
    font-size: 90%;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
    padding: 0.7% 1%;
    bottom:1%;
    right: 2%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: 0.1s all ease-in-out;
    z-index: 999;
}

.StickyDonateButton:hover {
    color: white;
    background-color: black;
    transform: scale(1.005);
    box-shadow: 0 5px 15px rgba(0,0,0,0.4); 
}

@media only screen and (max-width: 1300px) {
    .StickyDonateButton {
        width: 8%;
        right: 1%;
    }
}

@media only screen and (max-width: 1000px) {
    .StickyDonateButton {
        height: 12%;
        width: auto;
        bottom: 40%;
        right: 1%;
        writing-mode: vertical-rl;
        
    }
}
  