:root {
  font-family: "Roboto", sans-serif;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: rgb(255,102,0);
  --color-primary-dark: rgb(153,51,0);
}

body {
  margin: 0px;
}

#root {
  margin: 0 auto;
  color: black;
}
